# temp folder of raw data
data_dtitle/split_raw

# training/test data and vocab files for dcap title task
*.dtitle
*.subwords
*.tfrecord
*.tokenized-tfrecord
*.cache.*
*meta.log

# model dir
model*

*.gz
*.7z

# running center
running_center
